<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodTracer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2EC46FD1C06DC1A000C547B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2EC47111C06DC1A000C547B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2EC471C1C06DC1A000C547B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
